<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" value="width=device-width,initial-scale=1.0">
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Links</h2>
    <ul>
      <li><a href="/presenter">Presenter</a></li>
      <li><a href="/presentee">Presentee</a></li>
    </ul>
  </body>
</html>
