body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#buttons{
      display: inline-block;
      padding: 1em 1em;
      margin-bottom: 7%;
      font-size: 2em;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      border-radius: 1em;
      width: 100%;
      max-width: 500px;
}

.vote-button {
    padding: 11px 25px;
    margin-bottom: 11px;
    font-size: 37px;
    width: calc(100% - 20px);
    margin: auto;
}
.vote-container {
    text-align: center;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
